[Desktop Entry]
Version=1.0
Type=Application
Name=DocMiner
Comment=Professional Positionality Analysis Interface
Exec=/home/todd/docminer/releases/DocMiner-5.1.1-x86_64.AppImage
Icon=docminer
Terminal=false
Categories=Education;Science;
StartupNotify=true
